/* type rules */

html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

p {
    text-align: justify;
}

/* section rules */

.top,
.footer {
    background-color: #1f2937;
    color: #f9faf8
}

.top {
    padding: 16px 15%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.hero {
    display: flex;
    gap: 64px;
    align-items: center;
    margin-bottom: 32px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 16px;
}

.quote {
    background-color: #e5e7eb;
    padding: 32px 128px;
    margin-top: 64px;
    text-align: justify;
}

.signup,
.cta-block {
    background-color: #3882f6;
}

.signup {
    padding: 8px 32px;
    color: white;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
}

/* font styles */

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 48px 24px;
}

h3 {
    margin: 0;
}

a,
.sublime {
    font-size: 18px;
    color: #e5e7eb;
}

.sublime {
    margin-bottom: 32px;
    text-align: justify;
}

.logo {
    font-size: 24px;
    margin-right: auto;
}

.info {
    margin: 64px 0;
}

cite {
    font-weight: 700;
    text-align: right;
    display: block;
    margin-right: 32px;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
}

.cta-block {
    color: white;
    border-radius: 5px;
    padding: 32px 64px;
    flex: 1;
    max-width: 700px;
    display: flex;
    gap: 64px;
    justify-content: space-between;
}

/* individual */

.hero-image {
    background-color: #2e3c51;
    height: 200px;
    width: 400px;
    display: block;
    flex-shrink: 0;
}

.info-image {
    background-color: #eee;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-bottom: 16px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.media {
    text-align: center;
    margin: 0;
}

figcaption {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.cta-block > .signup {
    outline: 2px solid white;
    align-self: center;
    flex-shrink: 0;
}

/* responsive */

@media (max-width: 950px) {
    .top {
        padding: 16px 8px;
    }
    
    .header {
        margin: 16px;
    }

    .hero-image {
        order: -1;
        width: 100vw;
        height: 50vw;
    }

    .hero {
        flex-direction: column;
        padding: 16px;
    }

    .media {
        min-width: 35%;
    }
}

@media (max-width: 900px) {

    .quote {
        padding: 16px 16px;
    }

    blockquote {
        font-size: 24px;
    }
}

@media (max-width: 650px) {
    .cta-block {
        flex-direction: column;
        gap: 16px;
    }

    .cta-block > .signup {
        align-self: flex-start;
    }
}